{% extends 'main.html' %}
{% block content %} 
	{% load static %}
	
      <div class="container pt-2">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
                <!-- Alert tags -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert {{message.tags}}" role="alert">
                  <button type="button" class="close pl-2" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
                {% endfor %}
              {% endif %}
            </div>
        </div>
      </div>

	<!-- Top Slider -->
	  {% include 'blogs/top_slider.html' %}
	<!-- End of top slider -->
	<section class="section-padding">
		<!-- Filters -->
		<div class="row">
			<h4 class="text-center widget-title trending-post">Filter by tags</h4>
			{% for tag in tags %}
			<div class="col p-3">
				<a href="{% url 'home' %}?search_item={{tag.name}}" type="submit" class="btn btn-dark btn-sm btn-rounded text-capitalize">#{{tag}}</a>
			</div>
			{% endfor %}
			
		<!-- <div class="container"> -->
			<div class="row p-lg-5">
			{% if page == "trending_blog" %}
				<div class="col-lg-8">
					<div class="row">
						<!-- Blog Posts -->
						{% for blog in trending_blogs %}
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="{% url 'read-blog' blog.id %}">
									<img src="{{blog.blog_image.url}}" alt="" class="img-fluid w-100">
								</a>
									<span class="cat-name text-color font-extra text-lg text-uppercase letter-spacing-1 mr-lg-5">{{blog.blog_genre}}</span>
									<p class="text-muted font-md" style="padding: 0; font-size:13px;"><i class="ti-time mr-2"></i>{{blog.created|timesince}}</p>
								<h3 class="post-title mt-1"><a href="{% url 'read-blog' blog.id %}">{{blog.title}}</a></h3>
								{% for tag in blog.tag.all %}
								<a href="{% url 'home' %}?search_item={{tag.name}}"><span class="border:1px solid grey btn-dark btn-sm">#{{tag}}</span></a>
							  	{% endfor %}
								<p class="author" style="padding: 0; font-style: italic;">by @{{blog.creator}}</p>
								<span><a class="cat-name text-color font-md font-extra" href="{% url 'read-blog' blog.id %}"> Read More ></a></span>
							</article>
						</div>
						{% endfor %}

						<!-- End of blog posts -->
					</div>
				</div>
				{% else %}
				<div class="col-lg-8">
					<div class="row">
						<!-- Blog Posts -->
						{% for blog in blogs %}
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="{% url 'read-blog' blog.id %}">
									<img src="{{blog.blog_image.url}}" alt="" class="img-fluid w-100">
								</a>
									<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1 mr-lg-5">{{blog.blog_genre}}</span>
									<p class="text-muted font-md " style="padding: 0; font-size:13px;"><i class="ti-time mr-2"></i>{{blog.created|timesince}}</p>
								<h3 class="post-title mt-1"><a href="{% url 'read-blog' blog.id %}">{{blog.title}}</a></h3>
								{% for tag in blog.tag.all %}
								<a href="{% url 'home' %}?search_item={{tag.name}}"><span class="border:1px solid grey btn-dark btn-sm">#{{tag}}</span></a>
							  	{% endfor %}
								<p class="author pt-3" style="padding: 0; font-style: italic;">by @{{blog.creator}}</p>
								<span><a class="cat-name text-color font-md font-extra" href="{% url 'read-blog' blog.id %}"> Read More ></a></span>
							</article>
						</div>
						{% endfor %}

						<!-- End of blog posts -->
					</div>
				</div>
				{% endif %}
				<!-- Trending Section -->
					{% include 'blogs/trending_blog_component.html' %}
					<!-- People you many know -->
					{% include 'blogs/people-you-may-know-component.html' %}


				</div> 
				<!-- End Trending Section -->

				<!-- Pagination -->
				<!-- <div class="m-auto">
					<div class="pagination mt-5 pt-4">
						<ul class="list-inline ">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div> -->
				<!-- End of Pagination -->
			</div>
		<!-- </div> -->
	</section>

{% endblock %}