{% extends 'main.html' %}

{% block content %}
{% load static %}
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="lg-title">About Me</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-12">
                        <img src="{% static 'images/aheli.jpg' %}" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <h5 class="text-uppercase letter-spacing mb-4">Who is me?</h5>
                                <p>Hello, My name is Aheli Biswas. I am a Python-Django Dev. This one of my niche projects.
                                    As you may have already figured out I love anime and I am an Otaku. This is a small contribution
                                    to the community and my love for anime.
                                </p>

                            </div>
                            <div class="col-lg-4">
                                <h5 class="text-uppercase letter-spacing mb-4">My vission</h5>
                                <p>My vission is to create a community through this project where people can show their interest in any artistic
                                    or story telling field. A place where they can share their thoughts and interest without any bias judgement.
                                    If you are enjoying my projects! Feel free to check out my other projects.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="text-uppercase letter-spacing mb-4">Follow Me :</h5>
                                <div class="follow-socials">
                                    <a href="#" class="twt"><i class="ti-twitter"></i></a>
                                    <a href="https://www.instagram.com/wifuinreal/" class="inst"><i class="ti-instagram"></i></a>
                                    <a href="#" class="youtube"><i class="ti-youtube"></i></a>
                                    <a href="#" class="pint"><i class="ti-pinterest"></i></a>
                                </div>
                            </div>
                        </div>

                        <h3 class="mb-3 mt-5">View My other projects here</h3>
                        <a href="https://codewithaheli.wixsite.com/let-s-python-it/blog">
                            <button class="btn btn-primary" type="button" style="border: none; padding-top: 30px 30px;">Projects</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}