{% extends 'login-register-main.html' %}
{% block content %}
    {% load static %}
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">

                          
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            
                            <div class="container pt-2">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto">
                                        <!-- Alert tags -->
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert {{message.tags}}" role="alert">
                                            <button type="button" class="close pl-2" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                </div>

                            <div class="form-group">
                                <label for="name">
                                    <i class="zmdi zmdi-account material-icons-name"></i>
                                    <!-- {{field.label}} -->
                                </label>
                                <!-- {{form.username}} -->
                                <input type="text" name="username" id="name" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <!-- {{form.email}} -->
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <!-- {{form.password1}} -->
                                <input type="password" name="pass" id="pass" placeholder="Password" onkeyup='check();'/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <!-- {{form.password2}} -->
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" onkeyup='check();'/>
                            </div>
                            <span id="message" class="p-2"></span>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'login-register-comps/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}